[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataCompareR"]
	path = dataCompareR
	url = https://github.com/capitalone/datacomparer
	subdir = dataCompareR
